In [17]:
import pandas as pd
aa=pd.read_csv('./emotion.csv', encoding = 'cp949') #앞의 점은 같은 디렉토리 안에 있어서 생략


aa

            항목    증가  변화 없음    감소
0   걱정 또는 스트레스  78.0   19.0   3.0
1    불안 또는 두려움  65.4   30.2   4.4
2      짜증 또는 화  60.8   35.5   3.7
3     분노 또는 혐오  59.5   36.5   4.0
4  무기력감 또는 좌절감  52.4   43.0   4.6
5   외로움 또는 우울함  46.4   50.4   3.2
6   자긍심 또는 자부심  35.4   40.3  24.3
7   감사함 또는 안도감  29.3   46.1  24.6

In [15]:
aa.loc[[0,1,2,3,4,5],['항목','증가']]

            항목    증가
0   걱정 또는 스트레스  78.0
1    불안 또는 두려움  65.4
2      짜증 또는 화  60.8
3     분노 또는 혐오  59.5
4  무기력감 또는 좌절감  52.4
5   외로움 또는 우울함  46.4

In [11]:
aa.loc[[6,7],['항목','증가']]

           항목    증가
6  자긍심 또는 자부심  35.4
7  감사함 또는 안도감  29.3

In [3]:
import pandas as b
bb=b.read_csv('./react.csv', encoding = 'cp949') #앞의 점은 같은 디렉토리 안에 있어서 생략
bb

                                             항목   그렇다  보통이다  그렇지 않다
0                       집에서 여가를 즐기는 문화가 확산할 것이다  67.0  24.8     8.2
1                     특정 집단에 대한 혐오와 차별이 증가할 것이다  66.9  27.5     5.6
2                           사회 구성원 간 격차가 커질 것이다  63.0  30.4     6.6
3             보호무역주의가 강화되는 등 국제 경제의 구조가 재편될 것이다  61.2  33.2     5.6
4  재난, 감염병 상황시 개인정보 공개·사생활 침해 등 개인의 자유가 제한될 것이다  56.0  29.7    14.3
5                           한국의 국제적 위상이 올라갈 것이다  55.6  28.1    16.3

In [12]:
a=bb.loc[[1,2,4],['항목','그렇다']]
a

                                             항목   그렇다
1                     특정 집단에 대한 혐오와 차별이 증가할 것이다  66.9
2                           사회 구성원 간 격차가 커질 것이다  63.0
4  재난, 감염병 상황시 개인정보 공개·사생활 침해 등 개인의 자유가 제한될 것이다  56.0

In [7]:
import pandas as pd
df1 = pd.DataFrame( {
    "a":[ 10, 20, 30 ],
    "b":[ 40, 50, 60 ],
    "c":[ 70, 80, 90 ] },
    index=[ 1, 2, 3] )
print(df1)

    a   b   c
1  10  40  70
2  20  50  80
3  30  60  90